.sidebarWrapper{
    position: relative;
    left: 0;
    background-color: rgba(135, 135, 135, 0.5);
    padding: 2%;
}

.LogoWrapper{
    width: 100%;
    margin: 4% 0 4%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.line{
    position: absolute;
    margin: 4% 0 4%;
    height: 2px;
    background-color: black;
    width: 100%;
    left: 0;
}

.sidebarOptionsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebarOptionButton{
    margin-bottom: 4%;
    text-align: left;
    width: 100%;
    padding: 4%;
    border-radius: 15% / 100%;
    display: flex;
    justify-content: space-between;
}

.buttonIconWrapper{
    position: relative;
    width: 10%;
}

.buttonIcon {
    width: 100%;
    object-fit: cover;
}

.sidebarOptionButton:hover{
    background-color: rgb(135, 135, 135);
}

.sidebarOptionButton.selected{
    background-color: rgb(135, 135, 135);
    box-shadow: 2px 2px 5px blue;
}

#logo{
    height: 100%;
    object-fit: cover;
    margin-right: 4%;
}

#logoText{
    display: flex;
    justify-content: center;
    align-items: center;
}