.sidebarWrapper{
    position: relative;
    left: 0;
    background-color: rgba(135, 135, 135, 0.5) ;
}
.LogoWrapper{
    width: 100%;
    margin-top: 2vh;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#logo{
    height: 100%;
    object-fit: cover;
    margin-right: 4%;
}

#logoText{
    display: flex;
    justify-content: center;
    align-items: center;
}